{
  "EventBusSettings": {
    "Host": "rabbitmq.example.com",
    "User": "user",
    "Password": "password",
    "VirtualHost": "/"
  },
  "CacheSettings": {
    "ConnectionString": "seu-redis.region.redis.azure.net:10000,password=SUA_CHAVE_AQUI,ssl=True,abortConnect=False"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
