{
  "EventBusSettings": {
    "Host": "rabbitmq.example.com",
    "User": "user",
    "Password": "password",
    "VirtualHost": "/"
  },
  "ConnectionStrings": {
    "PostgresConnection": "Host=SEU_SERVIDOR_AQUI.postgres.database.azure.com;Port=5432;Database=PaymentDb;Username=SEU_USUARIO_AQUI;Password=SUA_SENHA_AQUI"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
